<a class="login-logo-inproduct" routerLink="/home"></a>
<div class="login-form">
  <h3 class="title">Cargar Dinero</h3>
  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="addBalance(f)" #f="ngForm">
    <div class="input-wrapper-button">
      <mat-card-title>Mis saldo actual ${{saldo}}</mat-card-title>
    </div>
    <mat-form-field>
      <mat-label><label for="amount">Monto</label></mat-label>
      <input matInput type="text" placeholder="Ingrese un monto a depositar" name="amount" ngModel required/>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
    <div class="input-wrapper-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Ingresar</button>
    </div>
  </form>
  <div class="back-buton" (click)="backToMenu()">
    <span class="material-icons"> keyboard_backspace </span>
  </div>
</div>
