<a class="login-logo" routerLink="/home"></a>
<div class="login-form">
  <h3 class="title">Mi Cuenta</h3>
  <div class="input-wrapper-button">
    <button mat-raised-button color="primary" (click)="selectOption('loadBalance')">Cargar Dinero</button>
  </div>
  <div class="input-wrapper-button">
    <button mat-raised-button color="primary" (click)="selectOption('withdrawBalance')">Retirar Saldo</button>
  </div>
  <div class="input-wrapper-button">
    <button mat-raised-button color="primary" (click)="selectOption('transfer')">Transferir Dinero</button>
  </div>
  <div class="input-wrapper-button">
    <button mat-raised-button color="primary" (click)="selectOption('movements')">Mis Movimientos</button>
  </div>
  <div class="logout-buton" (click)="cerrarSesion()">
    <span class="material-icons">power_settings_new</span>
  </div>
</div>
