.menu-br {
  height: 60px;
  background-color: #fff;
  position: relative;
  z-index: 100;
  box-shadow: 0 2px 12px 0 hsla(0, 0%, 90.6%, 0.5);
}
.align-items-center {
  align-items: center !important;
}

.menu-br .logo-br {
  margin-left: 15px;
  max-width: 180px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar {
  position: relative;
  padding: 0.5rem 1rem;
}
.menu .navbar {
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 60px;
}

.menu .navbar-nav {
  padding-right: 0;
}
.flex-row {
  flex-direction: row !important;
}
.d-flex {
  display: flex !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}
.menu-br .btns .btn-purple,
.menu-br .btns .btn-yellow {
  height: 60px;
}
.menu-br .btn-nav-link {
  background-color: white;
  font-family: Verdana, Montserrat, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 11.8px;
  color: #4c4c4c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-br .btn-yellow {
  background-color: #000000;
  font-family: Verdana, Montserrat, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.menu-br .btn-purple {
  background-color: #894590;
  font-family: Verdana, Montserrat, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}

.bgVitrina_txt {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bury {
  margin-top: 50px;
  height: 522px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #eeeced;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/banco-ripley-sp-2-0.appspot.com/o/slide-cupon-15000_1617848759852.jpg?alt=media&token=2e051d07-e46e-49cf-bf9d-ededcadb7b54");
}
.promoted {
  height: 522px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url("../../assets/resources/left.png");
}
