<div class="menu-br row d-flex align-items-center">
  <div class="logo-br col">
    <a routerLink="/home"><img src="../../assets/resources/logo-banco-ripley-low.svg" /></a>
  </div>
  <div class="col btns">
    <div class="row d-flex flex-row flex-nowrap">
      <div class="btn-yellow flex-fill d-flex justify-content-center align-items-center" routerLink="/registro"><a>¡ Quiero ser del RIPLEY !</a></div>
    </div>
  </div>
  <div class="col btns">
    <div class="row d-flex flex-row flex-nowrap">
      <div class="btn-purple flex-fill d-flex justify-content-center align-items-center" routerLink="/login"><a>Ingresar</a></div>
    </div>
  </div>
</div>
<div class="bury"></div>
<div class="promoted"></div>

