<a class="login-logo-inproduct" routerLink="/home"></a>
<div class="login-form">
  <h3 class="title">Transferencia</h3>
  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="transferToUser(f)" #f="ngForm">
    <div class="input-wrapper-button">
      <mat-card-title>Saldo actual ${{saldo}}</mat-card-title>
    </div>
    <mat-form-field>
      <mat-label><label for="amount">Monto a transferir</label></mat-label>
      <input matInput type="text" placeholder="Ingrese el monto que desea transferir" name="amount" ngModel required/>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label><label for="rut">RUT destinatario</label></mat-label>
      <input matInput type="text" placeholder="Ingrese su Rut" name="rut" ngModel required/>
      <mat-error>Campo requerido</mat-error>
      <mat-error *ngIf="checkUser">RUT de destino invalido</mat-error>
    </mat-form-field>
    <div class="input-wrapper-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Ingresar</button>
    </div>
  </form>
  <div class="back-buton" (click)="backToMenu()">
    <span class="material-icons"> keyboard_backspace </span>
  </div>
</div>
